body {
    /* Set line height to 1.5 times the font size 
       and use the OS's UI font as the website font */
    font: 100%/1.5 system-ui;
}
nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

header {
    text-align: center;
    padding: 50px;
    background: #6200ea;
    color: white;
}
